In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('OMG5.xlsx')
print(type(df))
print(df[0:5])

<class 'pandas.core.frame.DataFrame'>
                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
0         David Zweig       Zweig    David  崔大偉  崔大伟  崔大偉  NaN  NaN
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理  NaN  NaN
2  Harriet Zurndorfer  Zurndorfer  Harriet  宋漢理  宋汉理  宋漢理  NaN  NaN
3        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和  NaN  NaN
4        Erik Zürcher     Zürcher     Erik  许理和  许理和  許理和  NaN  NaN

          无调姓       无调名  所见次数  生年  卒年   族裔   备注
0       Zweig     David   NaN NaN NaN  NaN  NaN
1  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN
2  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN
3     Zurcher      Erik   NaN NaN NaN  NaN  NaN
4     Zurcher      Erik   NaN NaN NaN  NaN  NaN

In [3]:
df['去重专用'] = df['漢名'] + '，' + df['无调姓'] + '，'+ df['无调名']
df.fillna(0)

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,所见次数,生年,卒年,族裔,备注,去重专用
0,David Zweig,Zweig,David,崔大偉,崔大伟,崔大偉,0,0,Zweig,David,0.0,0.0,0.0,0,0,崔大偉，Zweig，David
1,Harriet Zurndorfer,Zurndorfer,Harriet,宋汉理,宋汉理,宋漢理,0,0,Zurndorfer,Harriet,0.0,0.0,0.0,0,0,宋漢理，Zurndorfer， Harriet
2,Harriet Zurndorfer,Zurndorfer,Harriet,宋漢理,宋汉理,宋漢理,0,0,Zurndorfer,Harriet,0.0,0.0,0.0,0,0,宋漢理，Zurndorfer， Harriet
3,Erik Zürcher,Zürcher,Erik,許理和,许理和,許理和,0,0,Zurcher,Erik,0.0,0.0,0.0,0,0,許理和，Zurcher， Erik
4,Erik Zürcher,Zürcher,Erik,许理和,许理和,許理和,0,0,Zurcher,Erik,0.0,0.0,0.0,0,0,許理和，Zurcher， Erik
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5472,Harold Acton,Acton,Harold,艾克頓,艾克顿,艾克頓,0,0,Acton,Harold,0.0,0.0,0.0,0,0,艾克頓，Acton， Harold
5473,Pedro Acosta,Acosta,Pedro,柯彼得,柯彼得,柯彼得,0,0,Acosta,Pedro,0.0,0.0,0.0,0,0,柯彼得，Acosta， Pedro
5474,Oded Abt,Abt,Oded,歐克德,欧克德,歐克德,0,0,Abt,Oded,0.0,0.0,0.0,0,0,歐克德，Abt， Oded
5475,Stanley Abe,Abe,Stanley,阿部贤次,阿部贤次,阿部賢次,0,0,Abe,Stanley,0.0,0.0,0.0,0,0,阿部賢次，Abe， Stanley
5476,Pascal Abb,Abb,Pascal,艾沛思,艾沛思,艾沛思,0,0,Abb,Pascal,0.0,0.0,0.0,0,0,艾沛思，Abb， Pascal

In [4]:
print(df[-5:])

                名字       姓        名   中文名    汉名    漢名 洋名又名 汉名又名     无调姓  \
5472  Harold Acton   Acton   Harold   艾克頓   艾克顿   艾克頓  NaN  NaN   Acton
5473  Pedro Acosta  Acosta    Pedro   柯彼得   柯彼得   柯彼得  NaN  NaN  Acosta
5474      Oded Abt     Abt     Oded   歐克德   欧克德   歐克德  NaN  NaN     Abt
5475   Stanley Abe     Abe  Stanley  阿部贤次  阿部贤次  阿部賢次  NaN  NaN     Abe
5476    Pascal Abb     Abb   Pascal   艾沛思   艾沛思   艾沛思  NaN  NaN     Abb

           无调名  所见次数  生年  卒年   族裔   备注               去重专用
5472    Harold   NaN NaN NaN  NaN  NaN  艾克頓，Acton， Harold
5473     Pedro   NaN NaN NaN  NaN  NaN  柯彼得，Acosta， Pedro
5474      Oded   NaN NaN NaN  NaN  NaN      歐克德，Abt， Oded
5475   Stanley   NaN NaN NaN  NaN  NaN  阿部賢次，Abe， Stanley
5476    Pascal   NaN NaN NaN  NaN  NaN    艾沛思，Abb， Pascal

In [5]:
# 修改个别值的办法
# df.loc[5476,('去重专用')] = ['崔大伟']
# test_dict_df.loc[1:1,('english','id','math','name')]=[90,2,100,'Alice_m']
# https://www.jb51.net/article/166828.htm

In [6]:
df.shape

(5477, 16)

In [7]:
# 先計數吧
duplicate_row = df.duplicated(['去重专用'],keep=False) 
print(duplicate_row)

0       False
1        True
2        True
3        True
4        True
        ...
5472     True
5473    False
5474    False
5475    False
5476    False
Length: 5477, dtype: bool

In [8]:
duplicate_data = df.loc[duplicate_row,:]
print(duplicate_data[0:6])
# 这是所有在严格意义上重复的数据，没得讲，计算重复次数，然后保留其一

                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理  NaN  NaN
2  Harriet Zurndorfer  Zurndorfer  Harriet  宋漢理  宋汉理  宋漢理  NaN  NaN
3        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和  NaN  NaN
4        Erik Zürcher     Zürcher     Erik  许理和  许理和  許理和  NaN  NaN
5          Jiping Zuo         Zuo   Jiping  左际平  左际平  左際平  NaN  NaN
6          Jiping Zuo         Zuo   Jiping  左際平  左际平  左際平  NaN  NaN

          无调姓       无调名  所见次数  生年  卒年   族裔   备注                     去重专用
1  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
2  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
3     Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
4     Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
5         Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping
6         Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping

In [9]:
count_df = df['去重专用'].value_counts().to_frame().reset_index().rename(columns={'index':'Name','去重专用':'count'})

# df['values'].value_counts().to_frame().reset_index().rename(columns={'index':'values', 'values':'count'})

In [10]:
df1 = df.drop_duplicates(['去重专用'])

In [12]:
df3_with_count = pd.merge(df1, count_df, left_on='去重专用',right_on='Name')
print(df3_with_count)

                      名字           姓        名   中文名    汉名    漢名 洋名又名 汉名又名  \
0            David Zweig       Zweig    David   崔大偉   崔大伟   崔大偉  NaN  NaN
1     Harriet Zurndorfer  Zurndorfer  Harriet   宋汉理   宋汉理   宋漢理  NaN  NaN
2           Erik Zürcher     Zürcher     Erik   許理和   许理和   許理和  NaN  NaN
3             Jiping Zuo         Zuo   Jiping   左际平   左际平   左際平  NaN  NaN
4            Xuejing Zuo         Zuo  Xuejing   左雪靜   左雪静   左雪靜  NaN  NaN
...                  ...         ...      ...   ...   ...   ...  ...  ...
4302        Harold Acton       Acton   Harold   艾克顿   艾克顿   艾克頓  NaN  NaN
4303        Pedro Acosta      Acosta    Pedro   柯彼得   柯彼得   柯彼得  NaN  NaN
4304            Oded Abt         Abt     Oded   歐克德   欧克德   歐克德  NaN  NaN
4305         Stanley Abe         Abe  Stanley  阿部贤次  阿部贤次  阿部賢次  NaN  NaN
4306          Pascal Abb         Abb   Pascal   艾沛思   艾沛思   艾沛思  NaN  NaN

             无调姓       无调名  所见次数  生年  卒年   族裔   备注                     去重专用  \
0          Zweig     David   NaN NaN NaN  NaN  NaN          崔大偉，Zweig，David
1     Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
2        Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
3            Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping
4            Zuo   Xuejing   NaN NaN NaN  NaN  NaN         左雪靜，Zuo， Xuejing
...          ...       ...   ...  ..  ..  ...  ...                      ...
4302       Acton    Harold   NaN NaN NaN  NaN  NaN        艾克頓，Acton， Harold
4303      Acosta     Pedro   NaN NaN NaN  NaN  NaN        柯彼得，Acosta， Pedro
4304         Abt      Oded   NaN NaN NaN  NaN  NaN            歐克德，Abt， Oded
4305         Abe   Stanley   NaN NaN NaN  NaN  NaN        阿部賢次，Abe， Stanley
4306         Abb    Pascal   NaN NaN NaN  NaN  NaN          艾沛思，Abb， Pascal

                         Name  count
0             崔大偉，Zweig，David      1
1     宋漢理，Zurndorfer， Harriet      2
2           許理和，Zurcher， Erik      2
3             左際平，Zuo， Jiping      2
4            左雪靜，Zuo， Xuejing      1
...                       ...    ...
4302        艾克頓，Acton， Harold      2
4303        柯彼得，Acosta， Pedro      1
4304            歐克德，Abt， Oded      1
4305        阿部賢次，Abe， Stanley      1
4306          艾沛思，Abb， Pascal      1

[4307 rows x 18 columns]

In [13]:
df3_with_count = df3_with_count.fillna(0)

In [14]:
import numpy as np
df3_with_count[df3_with_count['count'].isin([np.NaN])]
df3_with_count[df3_with_count['所见次数'].isin([np.NaN])]
# NaN问题解决了，空格又来了

Empty DataFrame
Columns: [名字, 姓, 名, 中文名, 汉名, 漢名, 洋名又名, 汉名又名, 无调姓, 无调名, 所见次数, 生年, 卒年, 族裔, 备注, 去重专用, Name, count]
Index: []

In [15]:
df3_with_count['加权计数'] = df3_with_count.apply(lambda x:int(x['count'])*10 + int(x['所见次数']),axis=1)

In [16]:
print(df3_with_count[0:9])

                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
0         David Zweig       Zweig    David  崔大偉  崔大伟  崔大偉    0    0
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理    0    0
2        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和    0    0
3          Jiping Zuo         Zuo   Jiping  左际平  左际平  左際平    0    0
4         Xuejing Zuo         Zuo  Xuejing  左雪靜  左雪静  左雪靜    0    0
5        Tobias Zuern       Zuern   Tobias  陶全恩  陶全恩  陶全恩    0    0
6          Jiping Zou         Zou   Jiping  邹际平  邹际平  鄒際平    0    0
7              Ke Zou         Zou       Ke   邹科   邹科   鄒科    0    0
8         Xiuying Zou         Zou  Xiuying  邹秀英  邹秀英  鄒秀英    0    0

          无调姓       无调名  所见次数   生年   卒年 族裔 备注                     去重专用  \
0       Zweig     David   0.0  0.0  0.0  0  0          崔大偉，Zweig，David
1  Zurndorfer   Harriet   0.0  0.0  0.0  0  0  宋漢理，Zurndorfer， Harriet
2     Zurcher      Erik   0.0  0.0  0.0  0  0        許理和，Zurcher， Erik
3         Zuo    Jiping   0.0  0.0  0.0  0  0          左際平，Zuo， Jiping
4         Zuo   Xuejing   0.0  0.0  0.0  0  0         左雪靜，Zuo， Xuejing
5       Zuern    Tobias   0.0  0.0  0.0  0  0        陶全恩，Zuern， Tobias
6         Zou    Jiping   0.0  0.0  0.0  0  0          鄒際平，Zou， Jiping
7         Zou        Ke   0.0  0.0  0.0  0  0               鄒科，Zou， Ke
8         Zou   Xiuying   0.0  0.0  0.0  0  0         鄒秀英，Zou， Xiuying

                      Name  count  加权计数
0          崔大偉，Zweig，David      1    10
1  宋漢理，Zurndorfer， Harriet      2    20
2        許理和，Zurcher， Erik      2    20
3          左際平，Zuo， Jiping      2    20
4         左雪靜，Zuo， Xuejing      1    10
5        陶全恩，Zuern， Tobias      1    10
6          鄒際平，Zou， Jiping      2    20
7               鄒科，Zou， Ke      2    20
8         鄒秀英，Zou， Xiuying      2    20

In [17]:
try:
    df3_with_count.drop(['Name', 'count','所见次数','去重专用'], axis=1, inplace=True)
except KeyError:
    print('好像你已经运行过一遍了，笨蛋')

In [18]:
print(df3_with_count)

                      名字           姓        名   中文名    汉名    漢名 洋名又名 汉名又名  \
0            David Zweig       Zweig    David   崔大偉   崔大伟   崔大偉    0    0
1     Harriet Zurndorfer  Zurndorfer  Harriet   宋汉理   宋汉理   宋漢理    0    0
2           Erik Zürcher     Zürcher     Erik   許理和   许理和   許理和    0    0
3             Jiping Zuo         Zuo   Jiping   左际平   左际平   左際平    0    0
4            Xuejing Zuo         Zuo  Xuejing   左雪靜   左雪静   左雪靜    0    0
...                  ...         ...      ...   ...   ...   ...  ...  ...
4302        Harold Acton       Acton   Harold   艾克顿   艾克顿   艾克頓    0    0
4303        Pedro Acosta      Acosta    Pedro   柯彼得   柯彼得   柯彼得    0    0
4304            Oded Abt         Abt     Oded   歐克德   欧克德   歐克德    0    0
4305         Stanley Abe         Abe  Stanley  阿部贤次  阿部贤次  阿部賢次    0    0
4306          Pascal Abb         Abb   Pascal   艾沛思   艾沛思   艾沛思    0    0

             无调姓       无调名   生年   卒年 族裔 备注  加权计数
0          Zweig     David  0.0  0.0  0  0    10
1     Zurndorfer   Harriet  0.0  0.0  0  0    20
2        Zurcher      Erik  0.0  0.0  0  0    20
3            Zuo    Jiping  0.0  0.0  0  0    20
4            Zuo   Xuejing  0.0  0.0  0  0    10
...          ...       ...  ...  ... .. ..   ...
4302       Acton    Harold  0.0  0.0  0  0    20
4303      Acosta     Pedro  0.0  0.0  0  0    10
4304         Abt      Oded  0.0  0.0  0  0    10
4305         Abe   Stanley  0.0  0.0  0  0    10
4306         Abb    Pascal  0.0  0.0  0  0    10

[4307 rows x 15 columns]

In [19]:
# 开始人肉监督去重
df4_duplicate_row = df3_with_count.duplicated(['汉名'],keep=False)

In [20]:
df4_duplicate_data = df3_with_count.loc[df4_duplicate_row,:]

In [21]:
print(df4_duplicate_data)

                        名字        姓              名  中文名   汉名   漢名 洋名又名 汉名又名  \
13           Brook Ziporyn  Ziporyn          Brook  任博克  任博克  任博克    0    0
14        Brook A. Ziporyn  Ziporyn       Brook A.  任博克  任博克  任博克    0    0
91          Judith Zeitlin  Zeitlin         Judith  蔡九迪  蔡九迪  蔡九迪    0    0
92       Judith T. Zeitlin  Zeitlin      Judith T.  蔡九迪  蔡九迪  蔡九迪    0    0
97          Dongsheng Zang     Zang      Dongsheng  臧东升  臧东升  臧東昇    0    0
...                    ...      ...            ...  ...  ...  ...  ...  ...
4286         Guy S. Alitto   Alitto         Guy S.   艾恺   艾恺   艾愷    0    0
4287  Guy Salvatore Alitto   Alitto  Guy Salvatore   艾愷   艾恺   艾愷    0    0
4297          Joseph Adler    Adler         Joseph  艾周思  艾周思  艾周思    0    0
4298       Joseph A. Adler    Adler      Joseph A.  艾周思  艾周思  艾周思    0    0
4304              Oded Abt      Abt           Oded  歐克德  欧克德  歐克德    0    0

          无调姓             无调名   生年   卒年 族裔 备注  加权计数
13    Ziporyn           Brook  0.0  0.0  0  0    10
14    Ziporyn        Brook A.  0.0  0.0  0  0    10
91    Zeitlin          Judith  0.0  0.0  0  0    10
92    Zeitlin       Judith T.  0.0  0.0  0  0    10
97       Zang       Dongsheng  0.0  0.0  0  0    10
...       ...             ...  ...  ... .. ..   ...
4286   Alitto          Guy S.  0.0  0.0  0  0    10
4287   Alitto   Guy Salvatore  0.0  0.0  0  0    10
4297    Adler          Joseph  0.0  0.0  0  0    10
4298    Adler       Joseph A.  0.0  0.0  0  0    10
4304      Abt            Oded  0.0  0.0  0  0    10

[815 rows x 15 columns]

In [22]:
df4_duplicate_data.to_csv('再度去重前人工复核.txt')

In [23]:
zh_duplicate_row = df3_with_count.duplicated(['汉名'],keep=False) 
print(zh_duplicate_row)

0       False
1       False
2       False
3       False
4       False
        ...
4302    False
4303    False
4304     True
4305    False
4306    False
Length: 4307, dtype: bool

In [24]:
zh_duplicate_data = df3_with_count.loc[zh_duplicate_row,:]
print(zh_duplicate_data[0:6])
# 有九十八个按照汉名来说属于重名的
# 接下来的任务：
# 按照上面的再度去重前人工复核，修改Excel原数据，区分汉名重名者
# 剩余汉名对应多个名字的，直接按照异名处理，把重复行放到单独列

                   名字        姓          名  中文名   汉名   漢名 洋名又名 汉名又名      无调姓  \
13      Brook Ziporyn  Ziporyn      Brook  任博克  任博克  任博克    0    0  Ziporyn
14   Brook A. Ziporyn  Ziporyn   Brook A.  任博克  任博克  任博克    0    0  Ziporyn
91     Judith Zeitlin  Zeitlin     Judith  蔡九迪  蔡九迪  蔡九迪    0    0  Zeitlin
92  Judith T. Zeitlin  Zeitlin  Judith T.  蔡九迪  蔡九迪  蔡九迪    0    0  Zeitlin
97     Dongsheng Zang     Zang  Dongsheng  臧东升  臧东升  臧東昇    0    0     Zang
98     Dongsheng Zang     Zang  Dongsheng  臧東升  臧东升  臧東升    0    0     Zang

           无调名   生年   卒年 族裔 备注  加权计数
13       Brook  0.0  0.0  0  0    10
14    Brook A.  0.0  0.0  0  0    10
91      Judith  0.0  0.0  0  0    10
92   Judith T.  0.0  0.0  0  0    10
97   Dongsheng  0.0  0.0  0  0    10
98   Dongsheng  0.0  0.0  0  0    10