In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('OMG6.xlsx')
# 迭代到OMG6了
print(type(df))
print(df[0:5])

<class 'pandas.core.frame.DataFrame'>
                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
0         David Zweig       Zweig    David  崔大偉  崔大伟  崔大偉  NaN  NaN
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理  NaN  NaN
2  Harriet Zurndorfer  Zurndorfer  Harriet  宋漢理  宋汉理  宋漢理  NaN  NaN
3        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和  NaN  NaN
4        Erik Zürcher     Zürcher     Erik  许理和  许理和  許理和  NaN  NaN

          无调姓       无调名  所见次数  生年  卒年   族裔   备注
0       Zweig     David   NaN NaN NaN  NaN  NaN
1  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN
2  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN
3     Zurcher      Erik   NaN NaN NaN  NaN  NaN
4     Zurcher      Erik   NaN NaN NaN  NaN  NaN

In [3]:
df['去重专用'] = df['漢名'] + '，' + df['无调姓'] + '，'+ df['无调名']
df.fillna(0)

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,所见次数,生年,卒年,族裔,备注,去重专用
0,David Zweig,Zweig,David,崔大偉,崔大伟,崔大偉,0,0,Zweig,David,0.0,0.0,0.0,0,0,崔大偉，Zweig，David
1,Harriet Zurndorfer,Zurndorfer,Harriet,宋汉理,宋汉理,宋漢理,0,0,Zurndorfer,Harriet,0.0,0.0,0.0,0,0,宋漢理，Zurndorfer， Harriet
2,Harriet Zurndorfer,Zurndorfer,Harriet,宋漢理,宋汉理,宋漢理,0,0,Zurndorfer,Harriet,0.0,0.0,0.0,0,0,宋漢理，Zurndorfer， Harriet
3,Erik Zürcher,Zürcher,Erik,許理和,许理和,許理和,0,0,Zurcher,Erik,0.0,0.0,0.0,0,0,許理和，Zurcher， Erik
4,Erik Zürcher,Zürcher,Erik,许理和,许理和,許理和,0,0,Zurcher,Erik,0.0,0.0,0.0,0,0,許理和，Zurcher， Erik
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446,Harold Acton,Acton,Harold,艾克頓,艾克顿,艾克頓,0,0,Acton,Harold,0.0,0.0,0.0,0,0,艾克頓，Acton， Harold
5447,Pedro Acosta,Acosta,Pedro,柯彼得,柯彼得,柯彼得,0,0,Acosta,Pedro,0.0,0.0,0.0,0,0,柯彼得，Acosta， Pedro
5448,Oded Abt,Abt,Oded,歐克德,欧克德,歐克德,0,0,Abt,Oded,0.0,0.0,0.0,0,0,歐克德，Abt， Oded
5449,Stanley Abe,Abe,Stanley,阿部贤次,阿部贤次,阿部賢次,0,0,Abe,Stanley,0.0,0.0,0.0,0,0,阿部賢次，Abe， Stanley
5450,Pascal Abb,Abb,Pascal,艾沛思,艾沛思,艾沛思,0,0,Abb,Pascal,0.0,0.0,0.0,0,0,艾沛思，Abb， Pascal

In [4]:
print(df[-5:])

                名字       姓        名   中文名    汉名    漢名 洋名又名 汉名又名     无调姓  \
5446  Harold Acton   Acton   Harold   艾克頓   艾克顿   艾克頓  NaN  NaN   Acton
5447  Pedro Acosta  Acosta    Pedro   柯彼得   柯彼得   柯彼得  NaN  NaN  Acosta
5448      Oded Abt     Abt     Oded   歐克德   欧克德   歐克德  NaN  NaN     Abt
5449   Stanley Abe     Abe  Stanley  阿部贤次  阿部贤次  阿部賢次  NaN  NaN     Abe
5450    Pascal Abb     Abb   Pascal   艾沛思   艾沛思   艾沛思  NaN  NaN     Abb

           无调名  所见次数  生年  卒年   族裔   备注               去重专用
5446    Harold   NaN NaN NaN  NaN  NaN  艾克頓，Acton， Harold
5447     Pedro   NaN NaN NaN  NaN  NaN  柯彼得，Acosta， Pedro
5448      Oded   NaN NaN NaN  NaN  NaN      歐克德，Abt， Oded
5449   Stanley   NaN NaN NaN  NaN  NaN  阿部賢次，Abe， Stanley
5450    Pascal   NaN NaN NaN  NaN  NaN    艾沛思，Abb， Pascal

In [5]:
df.shape

(5451, 16)

In [6]:
# 先計數吧
duplicate_row = df.duplicated(['去重专用'],keep=False) 
print(duplicate_row)

0       False
1        True
2        True
3        True
4        True
        ...
5446     True
5447    False
5448    False
5449    False
5450    False
Length: 5451, dtype: bool

In [7]:
duplicate_data = df.loc[duplicate_row,:]
print(duplicate_data[0:6])
# 这是所有在严格意义上重复的数据，没得讲，计算重复次数，然后保留其一

                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理  NaN  NaN
2  Harriet Zurndorfer  Zurndorfer  Harriet  宋漢理  宋汉理  宋漢理  NaN  NaN
3        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和  NaN  NaN
4        Erik Zürcher     Zürcher     Erik  许理和  许理和  許理和  NaN  NaN
5          Jiping Zuo         Zuo   Jiping  左际平  左际平  左際平  NaN  NaN
6          Jiping Zuo         Zuo   Jiping  左際平  左际平  左際平  NaN  NaN

          无调姓       无调名  所见次数  生年  卒年   族裔   备注                     去重专用
1  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
2  Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
3     Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
4     Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
5         Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping
6         Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping

In [8]:
count_df = df['去重专用'].value_counts().to_frame().reset_index().rename(columns={'index':'Name','去重专用':'count'})

# df['values'].value_counts().to_frame().reset_index().rename(columns={'index':'values', 'values':'count'})

In [9]:
df1 = df.drop_duplicates(['去重专用'])

In [10]:
df3_with_count = pd.merge(df1, count_df, left_on='去重专用',right_on='Name')
print(df3_with_count)

                      名字           姓        名   中文名    汉名    漢名 洋名又名 汉名又名  \
0            David Zweig       Zweig    David   崔大偉   崔大伟   崔大偉  NaN  NaN
1     Harriet Zurndorfer  Zurndorfer  Harriet   宋汉理   宋汉理   宋漢理  NaN  NaN
2           Erik Zürcher     Zürcher     Erik   許理和   许理和   許理和  NaN  NaN
3             Jiping Zuo         Zuo   Jiping   左际平   左际平   左際平  NaN  NaN
4            Xuejing Zuo         Zuo  Xuejing   左雪靜   左雪静   左雪靜  NaN  NaN
...                  ...         ...      ...   ...   ...   ...  ...  ...
4274        Harold Acton       Acton   Harold   艾克顿   艾克顿   艾克頓  NaN  NaN
4275        Pedro Acosta      Acosta    Pedro   柯彼得   柯彼得   柯彼得  NaN  NaN
4276            Oded Abt         Abt     Oded   歐克德   欧克德   歐克德  NaN  NaN
4277         Stanley Abe         Abe  Stanley  阿部贤次  阿部贤次  阿部賢次  NaN  NaN
4278          Pascal Abb         Abb   Pascal   艾沛思   艾沛思   艾沛思  NaN  NaN

             无调姓       无调名  所见次数  生年  卒年   族裔   备注                     去重专用  \
0          Zweig     David   NaN NaN NaN  NaN  NaN          崔大偉，Zweig，David
1     Zurndorfer   Harriet   NaN NaN NaN  NaN  NaN  宋漢理，Zurndorfer， Harriet
2        Zurcher      Erik   NaN NaN NaN  NaN  NaN        許理和，Zurcher， Erik
3            Zuo    Jiping   NaN NaN NaN  NaN  NaN          左際平，Zuo， Jiping
4            Zuo   Xuejing   NaN NaN NaN  NaN  NaN         左雪靜，Zuo， Xuejing
...          ...       ...   ...  ..  ..  ...  ...                      ...
4274       Acton    Harold   NaN NaN NaN  NaN  NaN        艾克頓，Acton， Harold
4275      Acosta     Pedro   NaN NaN NaN  NaN  NaN        柯彼得，Acosta， Pedro
4276         Abt      Oded   NaN NaN NaN  NaN  NaN            歐克德，Abt， Oded
4277         Abe   Stanley   NaN NaN NaN  NaN  NaN        阿部賢次，Abe， Stanley
4278         Abb    Pascal   NaN NaN NaN  NaN  NaN          艾沛思，Abb， Pascal

                         Name  count
0             崔大偉，Zweig，David      1
1     宋漢理，Zurndorfer， Harriet      2
2           許理和，Zurcher， Erik      2
3             左際平，Zuo， Jiping      2
4            左雪靜，Zuo， Xuejing      1
...                       ...    ...
4274        艾克頓，Acton， Harold      2
4275        柯彼得，Acosta， Pedro      1
4276            歐克德，Abt， Oded      1
4277        阿部賢次，Abe， Stanley      1
4278          艾沛思，Abb， Pascal      1

[4279 rows x 18 columns]

In [11]:
df3_with_count = df3_with_count.fillna(0)

In [12]:
import numpy as np
df3_with_count[df3_with_count['count'].isin([np.NaN])]
df3_with_count[df3_with_count['所见次数'].isin([np.NaN])]
# NaN问题解决了，空格又来了

Empty DataFrame
Columns: [名字, 姓, 名, 中文名, 汉名, 漢名, 洋名又名, 汉名又名, 无调姓, 无调名, 所见次数, 生年, 卒年, 族裔, 备注, 去重专用, Name, count]
Index: []

In [13]:
df3_with_count['加权计数'] = df3_with_count.apply(lambda x:int(x['count'])*10 + int(x['所见次数']),axis=1)

In [14]:
print(df3_with_count[0:9])

                   名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
0         David Zweig       Zweig    David  崔大偉  崔大伟  崔大偉    0    0
1  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理    0    0
2        Erik Zürcher     Zürcher     Erik  許理和  许理和  許理和    0    0
3          Jiping Zuo         Zuo   Jiping  左际平  左际平  左際平    0    0
4         Xuejing Zuo         Zuo  Xuejing  左雪靜  左雪静  左雪靜    0    0
5        Tobias Zuern       Zuern   Tobias  陶全恩  陶全恩  陶全恩    0    0
6          Jiping Zou         Zou   Jiping  邹际平  邹际平  鄒際平    0    0
7              Ke Zou         Zou       Ke   邹科   邹科   鄒科    0    0
8         Xiuying Zou         Zou  Xiuying  邹秀英  邹秀英  鄒秀英    0    0

          无调姓       无调名  所见次数   生年   卒年 族裔 备注                     去重专用  \
0       Zweig     David   0.0  0.0  0.0  0  0          崔大偉，Zweig，David
1  Zurndorfer   Harriet   0.0  0.0  0.0  0  0  宋漢理，Zurndorfer， Harriet
2     Zurcher      Erik   0.0  0.0  0.0  0  0        許理和，Zurcher， Erik
3         Zuo    Jiping   0.0  0.0  0.0  0  0          左際平，Zuo， Jiping
4         Zuo   Xuejing   0.0  0.0  0.0  0  0         左雪靜，Zuo， Xuejing
5       Zuern    Tobias   0.0  0.0  0.0  0  0        陶全恩，Zuern， Tobias
6         Zou    Jiping   0.0  0.0  0.0  0  0          鄒際平，Zou， Jiping
7         Zou        Ke   0.0  0.0  0.0  0  0               鄒科，Zou， Ke
8         Zou   Xiuying   0.0  0.0  0.0  0  0         鄒秀英，Zou， Xiuying

                      Name  count  加权计数
0          崔大偉，Zweig，David      1    10
1  宋漢理，Zurndorfer， Harriet      2    20
2        許理和，Zurcher， Erik      2    20
3          左際平，Zuo， Jiping      2    20
4         左雪靜，Zuo， Xuejing      1    10
5        陶全恩，Zuern， Tobias      1    10
6          鄒際平，Zou， Jiping      2    20
7               鄒科，Zou， Ke      2    20
8         鄒秀英，Zou， Xiuying      2    20

In [15]:
try:
    df3_with_count.drop(['Name', 'count','所见次数','去重专用'], axis=1, inplace=True)
except KeyError:
    print('好像你已经运行过一遍了，笨蛋')

In [16]:
print(df3_with_count)

                      名字           姓        名   中文名    汉名    漢名 洋名又名 汉名又名  \
0            David Zweig       Zweig    David   崔大偉   崔大伟   崔大偉    0    0
1     Harriet Zurndorfer  Zurndorfer  Harriet   宋汉理   宋汉理   宋漢理    0    0
2           Erik Zürcher     Zürcher     Erik   許理和   许理和   許理和    0    0
3             Jiping Zuo         Zuo   Jiping   左际平   左际平   左際平    0    0
4            Xuejing Zuo         Zuo  Xuejing   左雪靜   左雪静   左雪靜    0    0
...                  ...         ...      ...   ...   ...   ...  ...  ...
4274        Harold Acton       Acton   Harold   艾克顿   艾克顿   艾克頓    0    0
4275        Pedro Acosta      Acosta    Pedro   柯彼得   柯彼得   柯彼得    0    0
4276            Oded Abt         Abt     Oded   歐克德   欧克德   歐克德    0    0
4277         Stanley Abe         Abe  Stanley  阿部贤次  阿部贤次  阿部賢次    0    0
4278          Pascal Abb         Abb   Pascal   艾沛思   艾沛思   艾沛思    0    0

             无调姓       无调名   生年   卒年 族裔 备注  加权计数
0          Zweig     David  0.0  0.0  0  0    10
1     Zurndorfer   Harriet  0.0  0.0  0  0    20
2        Zurcher      Erik  0.0  0.0  0  0    20
3            Zuo    Jiping  0.0  0.0  0  0    20
4            Zuo   Xuejing  0.0  0.0  0  0    10
...          ...       ...  ...  ... .. ..   ...
4274       Acton    Harold  0.0  0.0  0  0    20
4275      Acosta     Pedro  0.0  0.0  0  0    10
4276         Abt      Oded  0.0  0.0  0  0    10
4277         Abe   Stanley  0.0  0.0  0  0    10
4278         Abb    Pascal  0.0  0.0  0  0    10

[4279 rows x 15 columns]

In [17]:
df4_duplicate_row = df3_with_count.duplicated(['汉名'],keep=False)

In [18]:
df4_duplicate_data = df3_with_count.loc[df4_duplicate_row,:]

In [19]:
print(df4_duplicate_data)

                        名字        姓              名  中文名   汉名   漢名 洋名又名 汉名又名  \
13           Brook Ziporyn  Ziporyn          Brook  任博克  任博克  任博克    0    0
14        Brook A. Ziporyn  Ziporyn       Brook A.  任博克  任博克  任博克    0    0
91          Judith Zeitlin  Zeitlin         Judith  蔡九迪  蔡九迪  蔡九迪    0    0
92       Judith T. Zeitlin  Zeitlin      Judith T.  蔡九迪  蔡九迪  蔡九迪    0    0
97          Dongsheng Zang     Zang      Dongsheng  臧东升  臧东升  臧東昇    0    0
...                    ...      ...            ...  ...  ...  ...  ...  ...
4257           Sarah Allan    Allan          Sarah   艾兰   艾兰   艾蘭    0    0
4258         Guy S. Alitto   Alitto         Guy S.   艾恺   艾恺   艾愷    0    0
4259  Guy Salvatore Alitto   Alitto  Guy Salvatore   艾愷   艾恺   艾愷    0    0
4269          Joseph Adler    Adler         Joseph  艾周思  艾周思  艾周思    0    0
4270       Joseph A. Adler    Adler      Joseph A.  艾周思  艾周思  艾周思    0    0

          无调姓             无调名      生年   卒年 族裔 备注  加权计数
13    Ziporyn           Brook     0.0  0.0  0  0    10
14    Ziporyn        Brook A.     0.0  0.0  0  0    10
91    Zeitlin          Judith     0.0  0.0  0  0    10
92    Zeitlin       Judith T.     0.0  0.0  0  0    10
97       Zang       Dongsheng     0.0  0.0  0  0    10
...       ...             ...     ...  ... .. ..   ...
4257    Allan           Sarah  1945.0  0.0  0  0    12
4258   Alitto          Guy S.     0.0  0.0  0  0    10
4259   Alitto   Guy Salvatore     0.0  0.0  0  0    10
4269    Adler          Joseph     0.0  0.0  0  0    10
4270    Adler       Joseph A.     0.0  0.0  0  0    10

[748 rows x 15 columns]

In [20]:
# df4_duplicate_data.to_csv('再度去重前人工复核.txt')
# 经过第一步的人工复核，然后通过修改校对OMG5>6，
# 确认只需要：
# 1. 根据汉名去重
# 2. 只保留first和last
# 3. 然后merge
# 4. 然后附到去除全部重复项的表格之后
# 5. 输出文件，用excel重新排序、调整
# 6. 抽样，检查是否有系统性讹误

In [21]:
df4_first = df4_duplicate_data.drop_duplicates(['汉名'],keep='first')

In [22]:
df4_last = df4_duplicate_data.drop_duplicates(['汉名'],keep='last')
df4_last = df4_last[['汉名','名字']]
print(df4_last)

       汉名                    名字
14    任博克      Brook A. Ziporyn
92    蔡九迪     Judith T. Zeitlin
98    臧东升        Dongsheng Zang
123   余国藩         Anthony C. Yu
125   于君方          Chun-fang Yu
...   ...                   ...
4234  欧阳泰         Tonio Andrade
4244  安乐哲         Roger T. Ames
4257   艾兰           Sarah Allan
4259   艾恺  Guy Salvatore Alitto
4270  艾周思       Joseph A. Adler

[365 rows x 2 columns]

In [23]:
df4_first_n_last = pd.merge(df4_first, df4_last, how='left',on=['汉名']).rename(columns={'名字_y':'异文','名字_x':'名字'})

print(df4_first_n_last)

                 名字        姓           名  中文名   汉名   漢名 洋名又名 汉名又名      无调姓  \
0     Brook Ziporyn  Ziporyn       Brook  任博克  任博克  任博克    0    0  Ziporyn
1    Judith Zeitlin  Zeitlin      Judith  蔡九迪  蔡九迪  蔡九迪    0    0  Zeitlin
2    Dongsheng Zang     Zang   Dongsheng  臧东升  臧东升  臧東昇    0    0     Zang
3      Chün-fang Yü       Yü   Chün-fang  于君方  于君方  于君方    0    0       Yu
4     Anthony C. Yu       Yu  Anthony C.  余国藩  余国藩  餘國藩    0    0       Yu
..              ...      ...         ...  ...  ...  ...  ...  ...      ...
360   Tonio Andrane  Andrane       Tonio  欧阳泰  欧阳泰  歐陽泰    0    0  Andrane
361   Roger T. Ames     Ames    Roger T.  安乐哲  安乐哲  安樂哲    0    0     Ames
362     Sarah Allan    Allan       Sarah   艾兰   艾兰   艾蘭    0    0    Allan
363   Guy S. Alitto   Alitto      Guy S.   艾恺   艾恺   艾愷    0    0   Alitto
364    Joseph Adler    Adler      Joseph  艾周思  艾周思  艾周思    0    0    Adler

             无调名   生年   卒年 族裔 备注  加权计数                    异文
0          Brook  0.0  0.0  0  0    10      Brook A. Ziporyn
1         Judith  0.0  0.0  0  0    10     Judith T. Zeitlin
2      Dongsheng  0.0  0.0  0  0    10        Dongsheng Zang
3      Chun-fang  0.0  0.0  0  0    10          Chun-fang Yu
4     Anthony C.  0.0  0.0  0  0    10         Anthony C. Yu
..           ...  ...  ... .. ..   ...                   ...
360        Tonio  0.0  0.0  0  0    10         Tonio Andrade
361     Roger T.  0.0  0.0  0  0    20         Roger T. Ames
362        Sarah  0.0  0.0  0  0    20           Sarah Allan
363       Guy S.  0.0  0.0  0  0    10  Guy Salvatore Alitto
364       Joseph  0.0  0.0  0  0    10       Joseph A. Adler

[365 rows x 16 columns]

In [24]:
zh_without_duplicate_row = df3_with_count.drop_duplicates(['汉名'],keep=False)
zh_without_duplicate_row.shape

(3531, 15)

In [25]:
final_data = zh_without_duplicate_row.append(df4_first_n_last,ignore_index=True)

In [26]:
print(final_data)

                      名字           姓         名  中文名   汉名   漢名 洋名又名 汉名又名  \
0            David Zweig       Zweig     David  崔大偉  崔大伟  崔大偉    0    0
1     Harriet Zurndorfer  Zurndorfer   Harriet  宋汉理  宋汉理  宋漢理    0    0
2           Erik Zürcher     Zürcher      Erik  許理和  许理和  許理和    0    0
3             Jiping Zuo         Zuo    Jiping  左际平  左际平  左際平    0    0
4            Xuejing Zuo         Zuo   Xuejing  左雪靜  左雪静  左雪靜    0    0
...                  ...         ...       ...  ...  ...  ...  ...  ...
3891       Tonio Andrane     Andrane     Tonio  欧阳泰  欧阳泰  歐陽泰    0    0
3892       Roger T. Ames        Ames  Roger T.  安乐哲  安乐哲  安樂哲    0    0
3893         Sarah Allan       Allan     Sarah   艾兰   艾兰   艾蘭    0    0
3894       Guy S. Alitto      Alitto    Guy S.   艾恺   艾恺   艾愷    0    0
3895        Joseph Adler       Adler    Joseph  艾周思  艾周思  艾周思    0    0

             无调姓        无调名   生年   卒年 族裔 备注  加权计数                    异文
0          Zweig      David  0.0  0.0  0  0    10                   NaN
1     Zurndorfer    Harriet  0.0  0.0  0  0    20                   NaN
2        Zurcher       Erik  0.0  0.0  0  0    20                   NaN
3            Zuo     Jiping  0.0  0.0  0  0    20                   NaN
4            Zuo    Xuejing  0.0  0.0  0  0    10                   NaN
...          ...        ...  ...  ... .. ..   ...                   ...
3891     Andrane      Tonio  0.0  0.0  0  0    10         Tonio Andrade
3892        Ames   Roger T.  0.0  0.0  0  0    20         Roger T. Ames
3893       Allan      Sarah  0.0  0.0  0  0    20           Sarah Allan
3894      Alitto     Guy S.  0.0  0.0  0  0    10  Guy Salvatore Alitto
3895       Adler     Joseph  0.0  0.0  0  0    10       Joseph A. Adler

[3896 rows x 16 columns]

In [27]:
final_data.to_excel('OMG7.xlsx')