In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('OMG8.xlsx')
print(type(df))
print(df[0:5])

<class 'pandas.core.frame.DataFrame'>
             名字       姓       名  中文名   汉名   漢名 洋名又名 汉名又名     无调姓      无调名
0    Pascal Abb     Abb  Pascal  艾沛思  艾沛思  艾沛思  NaN  NaN     Abb   Pascal
1      Oded Abt     Abt    Oded  歐克德  欧克德  歐克德  NaN  NaN     Abt     Oded
2  Harold Acton   Acton  Harold  艾克頓  艾克顿  艾克頓  NaN  NaN   Acton   Harold
3  Piotr Adamek  Adamek   Piotr  顧孝永  顾孝永  顧孝永  NaN  NaN  Adamek    Piotr
4  Wendi Adamek  Adamek   Wendi  韋聞笛  韦闻笛  韋聞笛  NaN  NaN  Adamek    Wendi

In [3]:
df['去重专用'] = df['漢名'] + '，' + df['无调姓'] + '，'+ df['无调名']
df = df.fillna('')

In [4]:
print(df[-5:])

                      名字           姓        名  中文名   汉名   漢名 洋名又名 汉名又名  \
5690              Ke Zou         Zou       Ke   邹科   邹科   鄒科
5691         Xiuying Zou         Zou  Xiuying  邹秀英  邹秀英  鄒秀英
5692          Jiping Zuo         Zuo   Jiping  左际平  左际平  左際平
5693        Erik Zürcher     Zürcher     Erik  许理和  许理和  許理和
5694  Harriet Zurndorfer  Zurndorfer  Harriet  宋汉理  宋汉理  宋漢理

             无调姓       无调名                     去重专用
5690         Zou        Ke               鄒科，Zou， Ke
5691         Zou   Xiuying         鄒秀英，Zou， Xiuying
5692         Zuo    Jiping          左際平，Zuo， Jiping
5693     Zurcher      Erik        許理和，Zurcher， Erik
5694  Zurndorfer   Harriet  宋漢理，Zurndorfer， Harriet

In [5]:
df.shape

(5695, 11)

In [6]:
# 先計數吧
duplicate_row = df.duplicated(['去重专用'],keep=False) 
print(duplicate_row)

0       False
1       False
2        True
3       False
4        True
        ...
5690     True
5691     True
5692     True
5693     True
5694     True
Length: 5695, dtype: bool

In [7]:
duplicate_data = df.loc[duplicate_row,:]
print(duplicate_data[0:6])
# 这是所有在严格意义上重复的数据，没得讲，计算重复次数，然后保留其一

                    名字         姓           名  中文名   汉名   漢名 洋名又名 汉名又名  \
2         Harold Acton     Acton      Harold  艾克頓  艾克顿  艾克頓
4         Wendi Adamek    Adamek       Wendi  韋聞笛  韦闻笛  韋聞笛
16   William P. Alford    Alford  William P.  安守廉  安守廉  安守廉
19         Sarah Allan     Allan       Sarah   艾蘭   艾兰   艾蘭
20     Joseph R. Allen     Allen   Joseph R.  周文龍  周文龙  周文龍
22  Robert E. Allinson  Allinson   Robert E.  愛蓮心  爱莲心  愛蓮心

         无调姓          无调名                     去重专用
2      Acton       Harold        艾克頓，Acton， Harold
4     Adamek        Wendi        韋聞笛，Adamek， Wendi
16    Alford   William P.   安守廉，Alford， William P.
19     Allan        Sarah          艾蘭，Allan， Sarah
20     Allen    Joseph R.     周文龍，Allen， Joseph R.
22  Allinson    Robert E.  愛蓮心，Allinson， Robert E.

In [8]:
count_df = df['去重专用'].value_counts().to_frame().reset_index().rename(columns={'index':'Name','去重专用':'count'})

# df['values'].value_counts().to_frame().reset_index().rename(columns={'index':'values', 'values':'count'})

In [9]:
count_df

                             Name  count
0         賓板橋，Bingham， Woodbridge      3
1               吳妙慧，Goh， Meow Hui      3
2            張嘉鳳，Chang， Chia-Feng      3
3             何義壯，Heijdra， Martin      3
4                  吳文津，Wu， Eugene      3
...                           ...    ...
4471              許芥昱，Hsu， Kai-Yu      1
4472  畢來德，Billeter， Jean-Francois      1
4473             曾銳生，Tsang， Steve      1
4474           鄭振滿，Zheng， Zhenman      1
4475           張重一，Chang， Chung-i      1

[4476 rows x 2 columns]

In [10]:
df1 = df.drop_duplicates(['去重专用'])

In [11]:
df3_with_count = pd.merge(df1, count_df, left_on='去重专用',right_on='Name')
print(df3_with_count)

                  名字        姓       名  中文名   汉名   漢名 洋名又名 汉名又名      无调姓  \
0         Pascal Abb      Abb  Pascal  艾沛思  艾沛思  艾沛思                Abb
1           Oded Abt      Abt    Oded  歐克德  欧克德  歐克德                Abt
2       Harold Acton    Acton  Harold  艾克頓  艾克顿  艾克頓              Acton
3       Piotr Adamek   Adamek   Piotr  顧孝永  顾孝永  顧孝永             Adamek
4       Wendi Adamek   Adamek   Wendi  韋聞笛  韦闻笛  韋聞笛             Adamek
...              ...      ...     ...  ...  ...  ...  ...  ...      ...
4471        Xun Zhou     Zhou     Xun   周逊   周逊   周遜               Zhou
4472         Yu Zhou     Zhou      Yu   周宇   周宇   周宇               Zhou
4473      Zhiqun Zhu      Zhu  Zhiqun  朱志群  朱志群  朱志羣                Zhu
4474   Brook Ziporyn  Ziporyn   Brook  任博克  任博克  任博克            Ziporyn
4475  Angelo Zottoli  Zottoli  Angelo  晁德莅  晁德莅  晁德蒞            Zottoli

          无调名                 去重专用                 Name  count
0      Pascal      艾沛思，Abb， Pascal      艾沛思，Abb， Pascal      1
1        Oded        歐克德，Abt， Oded        歐克德，Abt， Oded      1
2      Harold    艾克頓，Acton， Harold    艾克頓，Acton， Harold      2
3       Piotr    顧孝永，Adamek， Piotr    顧孝永，Adamek， Piotr      1
4       Wendi    韋聞笛，Adamek， Wendi    韋聞笛，Adamek， Wendi      2
...       ...                  ...                  ...    ...
4471      Xun         周遜，Zhou， Xun         周遜，Zhou， Xun      1
4472       Yu          周宇，Zhou， Yu          周宇，Zhou， Yu      1
4473   Zhiqun      朱志羣，Zhu， Zhiqun      朱志羣，Zhu， Zhiqun      1
4474    Brook   任博克，Ziporyn， Brook   任博克，Ziporyn， Brook      1
4475   Angelo  晁德蒞，Zottoli， Angelo  晁德蒞，Zottoli， Angelo      1

[4476 rows x 13 columns]

In [12]:
import numpy as np

In [13]:
print(df3_with_count[0:9])

                              名字                姓              名  中文名   汉名  \
0                     Pascal Abb              Abb         Pascal  艾沛思  艾沛思
1                       Oded Abt              Abt           Oded  歐克德  欧克德
2                   Harold Acton            Acton         Harold  艾克頓  艾克顿
3                   Piotr Adamek           Adamek          Piotr  顧孝永  顾孝永
4                   Wendi Adamek           Adamek          Wendi  韋聞笛  韦闻笛
5                Joseph A. Adler            Adler      Joseph A.  艾周思  艾周思
6                  Nick Admussen         Admussen           Nick  安敏軒  安敏轩
7                 Liubov Afonina          Afonina         Liubov  劉雨馨  刘雨馨
8  Victor Manuel Aguilar Sánchez  Aguilar Sánchez  Victor Manuel  歐衛道  欧卫道

    漢名 洋名又名 汉名又名              无调姓             无调名  \
0  艾沛思                        Abb          Pascal
1  歐克德                        Abt            Oded
2  艾克頓                      Acton          Harold
3  顧孝永                     Adamek           Piotr
4  韋聞笛                     Adamek           Wendi
5  艾周思                      Adler       Joseph A.
6  安敏軒                   Admussen            Nick
7  劉雨馨                    Afonina          Liubov
8  歐衛道            Aguilar Sanchez   Victor Manuel

                                 去重专用                                Name  \
0                     艾沛思，Abb， Pascal                     艾沛思，Abb， Pascal
1                       歐克德，Abt， Oded                       歐克德，Abt， Oded
2                   艾克頓，Acton， Harold                   艾克頓，Acton， Harold
3                   顧孝永，Adamek， Piotr                   顧孝永，Adamek， Piotr
4                   韋聞笛，Adamek， Wendi                   韋聞笛，Adamek， Wendi
5                艾周思，Adler， Joseph A.                艾周思，Adler， Joseph A.
6                  安敏軒，Admussen， Nick                  安敏軒，Admussen， Nick
7                 劉雨馨，Afonina， Liubov                 劉雨馨，Afonina， Liubov
8  歐衛道，Aguilar Sanchez， Victor Manuel  歐衛道，Aguilar Sanchez， Victor Manuel

   count
0      1
1      1
2      2
3      1
4      2
5      1
6      1
7      1
8      1

In [14]:
try:
    df3_with_count.drop(['Name','去重专用'], axis=1, inplace=True)
except KeyError:
    print('好像你已经运行过一遍了，笨蛋')

In [15]:
print(df3_with_count)

                  名字        姓       名  中文名   汉名   漢名 洋名又名 汉名又名      无调姓  \
0         Pascal Abb      Abb  Pascal  艾沛思  艾沛思  艾沛思                Abb
1           Oded Abt      Abt    Oded  歐克德  欧克德  歐克德                Abt
2       Harold Acton    Acton  Harold  艾克頓  艾克顿  艾克頓              Acton
3       Piotr Adamek   Adamek   Piotr  顧孝永  顾孝永  顧孝永             Adamek
4       Wendi Adamek   Adamek   Wendi  韋聞笛  韦闻笛  韋聞笛             Adamek
...              ...      ...     ...  ...  ...  ...  ...  ...      ...
4471        Xun Zhou     Zhou     Xun   周逊   周逊   周遜               Zhou
4472         Yu Zhou     Zhou      Yu   周宇   周宇   周宇               Zhou
4473      Zhiqun Zhu      Zhu  Zhiqun  朱志群  朱志群  朱志羣                Zhu
4474   Brook Ziporyn  Ziporyn   Brook  任博克  任博克  任博克            Ziporyn
4475  Angelo Zottoli  Zottoli  Angelo  晁德莅  晁德莅  晁德蒞            Zottoli

          无调名  count
0      Pascal      1
1        Oded      1
2      Harold      2
3       Piotr      1
4       Wendi      2
...       ...    ...
4471      Xun      1
4472       Yu      1
4473   Zhiqun      1
4474    Brook      1
4475   Angelo      1

[4476 rows x 11 columns]

In [16]:
zh_duplicate_row1 = df3_with_count.duplicated(['汉名'],keep='first') 
zh_duplicate_row2 = df3_with_count.duplicated(['汉名'],keep='last')

In [17]:
zh_dup_data1 = df3_with_count.loc[zh_duplicate_row1,:]
zh_dup_data2 = df3_with_count.loc[zh_duplicate_row2,:]

In [18]:
zh_dup_data = zh_dup_data1.append(zh_dup_data2)

In [19]:
# zh_dup_data.drop_duplicates(['汉名'],keep=False)
# 检查一下，确实都是重复项

In [20]:
print(zh_dup_data.sort_values(by = ['汉名'],ascending=True))
# 有很多，需要人工核查，输出到表格
zh_dup_data.sort_values(by = ['汉名'],ascending=True).to_csv('进一步去重前人工核查20210701.txt')

                                    名字                 姓  \
2160                    William Martin            Martin
4167  William Alexander Parsons Martin            Martin
1050                 Richard von Glahn             Glahn
4370                 Richard Von Glahn         Von Glahn
3175                  Bryan Van Norden        Van Norden
...                                ...               ...
1372                  C.T. James Huang             Huang
4196                     Andrew Nathan            Nathan
2331               Andrew James Nathan            Nathan
672              Mark Csikszentmihalyi  Csikszentmihalyi
3873          Mark A. Csikszentmihalyi  Csikszentmihalyi

                              名  中文名   汉名   漢名 洋名又名 汉名又名               无调姓  \
2160                    William  丁韙良  丁韪良  丁韙良                      Martin
4167  William Alexander Parsons  丁韪良  丁韪良  丁韙良                      Martin
1050                Richard von  萬志英  万志英  萬志英                       Glahn
4370                    Richard  万志英  万志英  萬志英                   Von Glahn
3175                      Bryan  萬百安  万百安  萬百安                  Van Norden
...                         ...  ...  ...  ...  ...  ...               ...
1372                 C.T. James  黃正德  黄正德  黃正德                       Huang
4196                     Andrew  黎安友  黎安友  黎安友                      Nathan
2331               Andrew James  黎安友  黎安友  黎安友                      Nathan
672                        Mark  齊思敏  齐思敏  齊思敏            Csikszentmihalyi
3873                    Mark A.  齐思敏  齐思敏  齊思敏            Csikszentmihalyi

                             无调名  count
2160                     William      1
4167   William Alexander Parsons      1
1050                 Richard von      1
4370                     Richard      1
3175                       Bryan      1
...                          ...    ...
1372                  C.T. James      1
4196                      Andrew      1
2331                Andrew James      1
672                         Mark      1
3873                     Mark A.      1

[550 rows x 11 columns]

In [111]:
import opencc
t2s = opencc.OpenCC('t2s.json')

In [112]:
weird_dup = []
with open('weird_dup_20210701.csv','r',encoding='utf8') as d:
    lines = d.readlines()
    for line in lines:
        weird_dup.append(t2s.convert(line.split(',')[1].strip()))
weird_dup = list(set(weird_dup))

In [113]:
# weird_dup
df4_duplicate_row = df3_with_count.duplicated(['汉名'],keep=False)

In [114]:
df4_duplicate_data = df3_with_count.loc[df4_duplicate_row,:]

In [115]:
df4_first = df4_duplicate_data.drop_duplicates(['汉名'],keep='first')
df4_last = df4_duplicate_data.drop_duplicates(['汉名'],keep='last')

In [116]:
df4_first_n_last = pd.merge(df4_first, df4_last.loc[:,['名字','汉名','汉名又名','洋名又名']], how='left',on=['汉名']).rename(columns={'名字_y':'异文','名字_x':'名字','洋名又名_x':'洋名又名','汉名又名_x':'汉名又名'})
zh_without_duplicate_row = df3_with_count.drop_duplicates(['汉名'],keep=False)
zh_without_duplicate_row.shape

(3935, 11)

In [117]:
for index,row in df4_first_n_last.iterrows():
    v_en_name = row['洋名又名_y']
    if len(v_en_name) > 1:
        df4_first_n_last.loc[index,['异文']] += '、' + v_en_name
        print(v_en_name)
    v_zh_name = row['汉名又名_y']
    if len(v_zh_name) > 1:
        df4_first_n_last.loc[index,['异文']] += '、' + v_zh_name

Kang-i Sun Chang
Nien-Chu Yang

In [118]:
b  = df4_first_n_last.loc[df4_first_n_last['洋名又名_y']=='Nien-Chu Yang',:]

In [119]:
b

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,count,异文,汉名又名_y,洋名又名_y
255,Andrew N.D.（Nien-Chu Yang) Yang,Yang,Andrew N.D.（Nien-Chu Yang),楊念祖,杨念祖,楊念祖,,,Yang,Andrew N.D.(Nien-Chu Yang),1,Andrew N.D. Yang、Nien-Chu Yang,,Nien-Chu Yang

In [120]:
df4_first_n_last = df4_first_n_last.drop(['汉名又名_y','洋名又名_y'],axis=1)

In [121]:
# 还要从中删掉奇怪的那些行
df4_first_n_last = df4_first_n_last.loc[~df4_first_n_last['汉名'].isin(weird_dup),:]
df4_first_n_last.shape

(236, 12)

In [122]:
quasi_final_data = zh_without_duplicate_row.append(df4_first_n_last,ignore_index=True)

In [123]:
quasi_final_data.shape

(4171, 12)

In [124]:
saved_weird_rows = df3_with_count.loc[df3_with_count['汉名'].isin(weird_dup),:]

In [125]:
saved_weird_rows.shape

(66, 11)

In [126]:
saved_weird_rows

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,count
1,Oded Abt,Abt,Oded,歐克德,欧克德,歐克德,,,Abt,Oded,1
43,Tonio Andrade,Andrade,Tonio,歐陽泰,欧阳泰,歐陽泰,,,Andrade,Tonio,1
56,Sare Arecanli,Arecanli,Sare,李瑞,李瑞,李瑞,,,Arecanli,Sare,1
144,Paul Benedict,Benedict,Paul,白保羅,白保罗,白保羅,,,Benedict,Paul,2
146,Gwen P. Bennett,Bennett,Gwen P.,關玉琳,关玉琳,關玉琳,,,Bennett,Gwen P.,2
...,...,...,...,...,...,...,...,...,...,...,...
4151,W. Pey Lucian,Lucian,W. Pey,白鲁恂,白鲁恂,白魯恂,,,Lucian,W. Pey,1
4199,Bent Nielsen,Nielsen,Bent,尼尔森,尼尔森,尼爾森,,,Nielsen,Bent,1
4225,Lucian W. Pye,Pye,Lucian W.,白鲁恂,白鲁恂,白魯恂,,,Pye,Lucian W.,1
4305,weijie Song,Song,weijie,宋伟杰,宋伟杰,宋偉傑,,,Song,weijie,1
4453,Yoshimura Yoshiko,Yoshiko,Yoshimura,吉村敬子,吉村敬子,吉村敬子,,,Yoshiko,Yoshimura,1

In [127]:
quasi_final_data

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,count,异文
0,Pascal Abb,Abb,Pascal,艾沛思,艾沛思,艾沛思,,,Abb,Pascal,1,NaN
1,Harold Acton,Acton,Harold,艾克頓,艾克顿,艾克頓,,,Acton,Harold,2,NaN
2,Piotr Adamek,Adamek,Piotr,顧孝永,顾孝永,顧孝永,,,Adamek,Piotr,1,NaN
3,Wendi Adamek,Adamek,Wendi,韋聞笛,韦闻笛,韋聞笛,,,Adamek,Wendi,2,NaN
4,Nick Admussen,Admussen,Nick,安敏軒,安敏轩,安敏軒,,,Admussen,Nick,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4166,Mayfair Mei-hui Yang,Yang,Mayfair Mei-hui,楊美惠,杨美惠,楊美惠,,,Yang,Mayfair Mei-hui,1,Mayfair Yang
4167,Wai Lim Yip,Yip,Wai Lim,葉維廉,叶维廉,葉維廉,,,Yip,Wai Lim,1,Wai-lim Yip
4168,Ying-shih Yü,Yü,Ying-shih,余英時,余英时,餘英時,,,Yu,Ying-shih,1,Ying-shih Yu
4169,Judith T. Zeitlin,Zeitlin,Judith T.,蔡九迪,蔡九迪,蔡九迪,,,Zeitlin,Judith T.,1,Judith Zeitlin
4170,Brook A. Ziporyn,Ziporyn,Brook A.,任博克,任博克,任博克,,,Ziporyn,Brook A.,1,Brook Ziporyn

In [128]:
quasi_final_data.fillna('')

,名字,姓,名,中文名,汉名,漢名,洋名又名,汉名又名,无调姓,无调名,count,异文
0,Pascal Abb,Abb,Pascal,艾沛思,艾沛思,艾沛思,,,Abb,Pascal,1,
1,Harold Acton,Acton,Harold,艾克頓,艾克顿,艾克頓,,,Acton,Harold,2,
2,Piotr Adamek,Adamek,Piotr,顧孝永,顾孝永,顧孝永,,,Adamek,Piotr,1,
3,Wendi Adamek,Adamek,Wendi,韋聞笛,韦闻笛,韋聞笛,,,Adamek,Wendi,2,
4,Nick Admussen,Admussen,Nick,安敏軒,安敏轩,安敏軒,,,Admussen,Nick,1,
...,...,...,...,...,...,...,...,...,...,...,...,...
4166,Mayfair Mei-hui Yang,Yang,Mayfair Mei-hui,楊美惠,杨美惠,楊美惠,,,Yang,Mayfair Mei-hui,1,Mayfair Yang
4167,Wai Lim Yip,Yip,Wai Lim,葉維廉,叶维廉,葉維廉,,,Yip,Wai Lim,1,Wai-lim Yip
4168,Ying-shih Yü,Yü,Ying-shih,余英時,余英时,餘英時,,,Yu,Ying-shih,1,Ying-shih Yu
4169,Judith T. Zeitlin,Zeitlin,Judith T.,蔡九迪,蔡九迪,蔡九迪,,,Zeitlin,Judith T.,1,Judith Zeitlin
4170,Brook A. Ziporyn,Ziporyn,Brook A.,任博克,任博克,任博克,,,Ziporyn,Brook A.,1,Brook Ziporyn

In [142]:
final_data = quasi_final_data.append(saved_weird_rows,ignore_index=True)

In [143]:
for index,row in final_data.iterrows():
    v_en_name = row['洋名又名']
    if len(v_en_name) > 1:
        final_data.loc[index,['异文']] += '、' + v_en_name
        print(v_en_name)
    v_zh_name = row['汉名又名']
    if len(v_zh_name) > 1:
        final_data.loc[index,['异文']] += '、' + v_zh_name

Stefan
~ Chün-mai
Vincent
Handlin， Joanna Smith
Edward
aka Red Pine
Mandy
Domingo
Mary
S. F. Lai
Cheuk-woon Taam
~ William H. III
Rulan Chao Pian

In [144]:
final_data = final_data.drop(['洋名又名','汉名又名'],axis=1).sort_values('姓')

In [145]:
final_data.shape

(4237, 10)

In [146]:
final_data.to_excel('OMG9.xlsx')